
#contenedorGeneral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    text-align: center;
}

#bloqueIzq {
    margin-left: 13px;
    width: 30%;
    margin-top: 40px;
}

.barralateral {
    font-family: Cambria;
    color: white;
    font-weight: bold;
    font-size: 80%;
    background-image: url("imagenes/header_barralat.png");
    height: 16px;
}

#imagenesIzq img {
    width: 175px;
    height: 60px;
}

#bloquederecha {
    margin: 0;
    padding: 20px;
    font-family: Cambria, serif;
    width: 65%;
}

h2 {
    font-family: Cambria, serif;
    color: #189ED7;
    text-align: center;
    margin-top: 20px;
}

.imagen-noticia {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.texto {
    font-family: Cambria, serif;
    color: #181BD7;
    font-size: 80%;
    text-align: justify;
    margin: 0 auto 12px auto;
    max-width: 1000px;
}

ul {
    font-family: Cambria, serif;
    color: #181BD7;
    font-size: 80%;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto 20px auto;
    padding: 0 40px;
}

footer {
    text-align: center;
}

.textofooter {
    text-align: center;
    color: blue;
}

hr {
    width: 80%;
}

/* TABLET */
@media screen and (max-width: 1024px) {

    #bloqueIzq {
        width: 35%;
        margin-left: 10px;
    }

    #bloquederecha {
        width: 60%;
    }

    .imagen-noticia,
    p.texto,
    ul {
        max-width: 100%;
        padding: 0 15px;
    }
}


/* Celular */

@media screen and (max-width: 768px) {

    #bloqueIzq {
        width: 35%;
        margin-left: 5px;
        padding: 10px;
    }

    #bloquederecha {
        width: 58%;
        padding: 10px;
    }

    #imagenesIzq img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .imagen-noticia {
        max-width: 100%;
        height: auto;
    }

    p.texto,
    ul {
        padding: 0 10px;
        max-width: 100%;
    }

    .buscar {
        width: 100%;
    }
}
